<!DOCTYPE html> 

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weatherIcon">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        <div class="main-content">
            {{>header}}
            <img src="/img/myImage.jpg">
        </div>       
        {{>footer}}
    </body>
</html>