<!DOCTYPE html> 

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weatherIcon">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        <div class="main-content">
            {{>header}}
            <p>This is some usefel text :p</p>
        </div>
        
        {{>footer}}
    </body>
</html>